<!-- turtlebot follow ar tag node -->
<launch>
	<include file="$(find raspicam_node)/launch/camerav2_1280x960.launch"/>

	<node name="decompress_image" type="republish" pkg="image_transport" args="compressed in:=raspicam_node/image raw out:=/raspicam_node/image/raw" />

	<include file="$(find tracker)/launch/ar_track.launch"/>
</launch>
