<!-- Simulation. -->

<launch>
  <arg name="world_file" default="$(find tracker)/world/map.world" />

  <param name="/use_sim_time" value="true"/>

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)" />


  <!-- For the robot hunters -->
  <include file="$(find tracker)/launch/follow_sim.launch">
    <arg name="robot_name" value="robot_1" />
  </include>

  <include file="$(find tracker)/launch/follow_sim.launch">
    <arg name="robot_name" value="robot_2" />
  </include>

    <include file="$(find tracker)/launch/follow_sim.launch">
    <arg name="robot_name" value="robot_3" />
  </include>
  

  <node pkg="tracker" type="compute_node.py" name="compute"  output="screen"/>

</launch>